img {
    max-width:50%;
    max-height:50%;
    width:20vmin;
    display: block;
    margin:1rem;
    transition: 1s ease-in;
    text-shadow: black 1px 1px 1px ;
}

.Dices-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.Dice-animation {
    animation: fade-in 500ms forwards ease-in;
}

.Dices-img-div-show {
  visibility: visible;
}

.Dices-img-div-hide {
    visibility: hidden;
}
@keyframes fade-in {
    to{
        opacity: 1;
        transform: translateX(0);;
    }
}


@media only screen and (max-width: 1024px) {
.Dices-div {
    flex-direction: column;
}
}