img {
    max-width:100px;
    max-height:100px;
    width:50vmin;
    display: block;
    margin:1rem;
    transition: 1s ease-in;
    /*opacity: 0;*/
    text-shadow: black 1px 1px 1px ;
    /*box-shadow:  1px 1px 20px grey;*/
    /*transform: translateX(-200px);*/
}


.Dices-div {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
    align-items: center;
    width: 100%;
    height: 100%;
    /*visibility: hidden;*/
    overflow: hidden;



}


.Dice-animation {
    /*transform: skew(10deg);*/
    animation: fade-in 500ms forwards ease-in;
    /*transform: translateX(-100px);*/
}

.Dices-img-div-show {
  visibility: visible;

}

.Dices-img-div-hide {
    visibility: hidden;
}
@keyframes fade-in {
    to{
        opacity: 1;
        transform: translateX(0);;
    }
}