button {
    font-size: calc(1rem  + 1vw );
    color:whitesmoke;
    text-shadow: black 1px 1px 1px ;
    border-radius: 10px;
}

.Button-new-game {
    width:100%;
    background: rgba(7, 5, 5, 0.37);
    padding:1rem;
    font-family: 'Raleway', sans-serif;
}

.Button-hold-turn, .Button-roll-dice {

    padding:1rem;
    background: rgba(31, 29, 29, 0.55);
    font-family: 'Raleway', sans-serif;
}