button {
    font-size: calc(1rem  + 1vw );
    color:whitesmoke;
    text-shadow: black 1px 1px 1px ;
    border-radius: 10px;
    transition: 100ms ease-in-out;
    box-shadow: 1px 7px  11px black;
}
button:hover {
    cursor: pointer;
    text-shadow: rgba(255, 233, 0, 0.24) 1px 1px 1px ;
    box-shadow: 1px 3px  11px black;
    opacity: 0.9;
}

button:active {
    color: #dacbcb;
}

.Button-new-game {
    width:100%;
    background: rgba(7, 5, 5, 0.37);
    padding:1rem;
    font-family: 'Nunito', sans-serif;
    position: relative;
    z-index: 2900;
    white-space: nowrap;
}

.Button-hold-turn, .Button-roll-dice {
    min-width:100px;
    width: 50%;
    padding:1rem;
    background: rgba(31, 29, 29, 0.55);
    font-family: 'Nunito', sans-serif;
    white-space: nowrap;
}

.Button-opening-button {
    width: 90%;
    padding:1rem;
    background: rgba(31, 29, 29, 0.55);
    font-family: 'Nunito', sans-serif;
    position: relative;
    z-index: 2900;
    white-space: nowrap;
}

@media only screen and (max-width: 600px) {
    button {
        font-size: calc(1rem );
    }
    .Button-hold-turn, .Button-roll-dice{
        background: rgba(0, 0, 0, 0.62);
    }
}

