.DiceGame-content {
    width:100vw;
    height:100vh;
    padding:1rem;
    box-sizing: border-box;

}

.DiceGame-board-div {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;


}

.DiceGame-header {
    background: #9278a9;
    text-align: center;
    color:white;
    text-shadow: black 1px 1px 1px ;
    box-shadow:  1px 1px 20px grey;
    font-family: 'Roboto', sans-serif;
}