.Opening-page-content {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(38, 74, 93);
    position: absolute;
    top: 0;
    z-index: 2000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-300px);
    transition: 3s ease-in-out;
    /*animation: fade-in 1s forwards ease-in-out;*/
    padding: 2rem;
    overflow: hidden;
}

.Opening-page-content h1 {
    z-index: 1500;
    margin-bottom: 15vh;
    letter-spacing: 10px;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
    font-size: calc(5rem + 5vw);
    color: whitesmoke;
    text-shadow: #2b4648 3px 3px 3px;
    text-align: center;
    min-height: 0;
}

.Opening-page-content::before {
    content: '';
    background: url('../../public/assets/images/background5.png') no-repeat center center/contain;
    opacity: 1;
    filter: brightness(80%);
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 2;
}

.Opening-page-content h1 {
    color: whitesmoke;
}

.hide {
    display: none;
    opacity: 0;
    transform: translateX(0);
    animation: fade-out 3s forwards ease-in-out;
}

.show {
    transform: translateX(-300px);
    transition: 3s ease-in-out;
    opacity: 1;
    display: block;
    animation: fade-in 500ms forwards ease-in-out;
}

.Opening-page-buttons-div {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Opening-page-buttons-div button {
    margin-bottom: 1rem;
}

.Opening-themes-div {
    position: relative;
    bottom: 10%;
    margin-bottom: 2rem;
    z-index: 3000;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    border-top: 1px whitesmoke solid;
}

.Opening-themes-div h2 {
    text-align: center;
    opacity: 0.8;
    font-size: calc(1.5rem+ 2vw);
}

.Opening-themes-div div {
    border: 4px solid rgba(255, 255, 255, 0.78);
    border-radius: 24px;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin: 5px;
    opacity: 0.7;

}

.Opening-themes-div div:hover {
    filter: brightness(90%);
}

.Opening-themes-div label {
    font-size: calc(1.5rem + 3vw);
    color: whitesmoke;
}

.Opening-themes-div input {
    height: 5rem;
    opacity: 1;
    cursor: pointer;
    width: 100%;
    transform: translateX(50px) translateY(-15px);
    background: #7d7d88;
    font-size: 10rem;
}

#themes {
    border: red 2px solid;
    font-size: 10rem;
}

.Opening-themes-div .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.Opening-page-animation {
    background: red;
    transform: translateX(0);
    animation: fade-in 2s forwards ease-in-out;
}

/*buttons animation */
.animation1 {
    animation: moving-to-center 1s forwards ease-in;
    transform: translateX(600px) translateY(0);
    opacity: 0;

}

.animation2 {
    animation: moving-to-center 1.2s forwards ease-in-out;
    transform: translateX(-600px);
    opacity: 0;

}

.animation3 {
    animation: moving-to-center 1.4s forwards ease-in-out;
    transform: translateY(600px);
    opacity: 0;

}

/*animations*/

@keyframes moving-to-center {
    to {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes opening-animation {
    to {
        transform: translateX(-300px)
    }

}

@keyframes fade-in {
    20% {
        opacity: 0.2;
        transform: translateX(-200);
    }
    70% {
        opacity: 0.4;
        transform: translateX(-270);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes fade-out {
    to {
        opacity: 0;
        transform: translateX(600);
    }

}


@media only screen and (max-width: 1000px) {
    .Opening-page-content h1 {
        font-size: calc(3rem + 5vw);
    }

    .Opening-page-buttons-div {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: row;

    }

    .Opening-page-buttons-div button {
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .Opening-themes-div {
        flex-direction: column;
    }
    .Opening-themes-div input {
        height: 1rem;
    }
}