 .music-player {
    opacity: 0.5;
    filter: brightness(100%);
    transition: 200ms ease-in-out;
     color:white;
     background: transparent;
}

  .music-player:hover {
    filter: brightness(80%);
    opacity: 0.9;
}