.MusicPlayer-audio-div {
    position: absolute;
    bottom: 0;
    margin:0 auto

}

.music-player {
    opacity: 0.2;
    filter: brightness(80%);
    transition: 200ms ease-in-out;
     color:white;
     background: transparent;

}

  .music-player:hover {
    filter: brightness(100%);
    opacity: 0.9;
}