.Message-div {
position: relative;
    /*z-index:1;*/
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Message-div h1 {
    color:whitesmoke;
}