.Ui-div {
    width:100%;
    height:100vh;
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top:3rem;
    border-radius: 20px;
    background: rgba(95, 158, 160, 0.14);

}


.Ui-div:hover {
    opacity: 0.9;
}
.Ui-header {
    text-shadow: black 1px 1px 1px ;
    /*box-shadow:  1px 1px 20px grey;*/
    color:whitesmoke;

}

.Ui-buttons-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    margin-bottom:4rem;
    /*background: rgba(95, 158, 160, 0.14);*/

}